.member-page {

    background-image: url('../../../public/ourmember.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background tetap pada posisi saat scrolling */
}

.contact-page {

    background-image: url('../../../public/ourmember.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background tetap pada posisi saat scrolling */
}

.about-page {

    background-image: url('../../../public/ourmember.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background tetap pada posisi saat scrolling */
}

.gallery-page {

    background-image: url('../../../public/ourmember.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background tetap pada posisi saat scrolling */
}

.detail-page {

    background-image: url('../../../public/ourmember.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background tetap pada posisi saat scrolling */
}

.merch-page {

    background-image: url('../../../public/ourmember.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background tetap pada posisi saat scrolling */
}

.fanlet-page {

    background-image: url('../../../public/ourmember.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background tetap pada posisi saat scrolling */
}

[data-theme="dark"] .member-page {

    background-image: url('../../../public/ourmember-dark.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

[data-theme="dark"] .contact-page {

    background-image: url('../../../public/ourmember.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background tetap pada posisi saat scrolling */
}

[data-theme="dark"] .about-page {

    background-image: url('../../../public/ourmember.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background tetap pada posisi saat scrolling */
}

[data-theme="dark"] .gallery-page {

    background-image: url('../../../public/ourmember.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background tetap pada posisi saat scrolling */
}

[data-theme="dark"] .detail-page {

    background-image: url('../../../public/ourmember.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background tetap pada posisi saat scrolling */
}

.merch-page {

    background-image: url('../../../public/ourmember.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background tetap pada posisi saat scrolling */
}

.fanlet-page {

    background-image: url('../../../public/ourmember.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background tetap pada posisi saat scrolling */
}

.imgnya {
    width: 100%;
    padding: 85px;
    margin-top: 35px;
}

.bottonelah {
    position: absolute;
    bottom: 30px;
    left: 15%;
    width: 70%;
    height: auto;
    background-color: rgba(207, 207, 207, 0.745);
    /* Warna abu-abu dengan transparansi 50% */
    border-radius: 15px;
    padding: -10%;
}


.imajinate_items_ho {
    column-width: 15em;
    -moz-column-width: 15em;
    -webkit-column-width: 15em;
    column-gap: 4rem;
    -moz-column-gap: 4rem;
    -webkit-column-gap: 4rem;
}


.imajinate_item {
    /* display: inline-block; */
    width: 100%;
    text-align: center;
    margin: 0.5rem auto;
    position: relative;
    background: transparent;
    background-image: url('../../../public/frame.png');
    background-size: cover;
    /* padding: 6px; */
    border: none;
    transition: 0.3s ease;
    font-size: 0;
    min-height: 10px;
}

.imajinate_item img {
    max-width: 100%;
}

.imajinate_item .content {
    position: absolute;
    height: 0;
    width: 0;
    top: 42%;
    left: 38%;
    transform: translate(-30%, -30%);
    background: var(--overlay-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.imajinate_item .content {
    opacity: 0;
    transition-delay: 1s;
    transition: 0.3s ease;
    font-size: 20px;
}

.imajinate_item:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.imajinate_item:hover .content {
    height: calc(100% - 200px);
    width: calc(100% - 160px);
    opacity: 1;
}

.imajinate_item:hover .content {
    opacity: 1;
    color: var(--secondary-color);
}

.imajinate_item .content a {
    background: var(--bg-color);
    /* border: solid 1px var(--text-color); */
    padding: 4px 8px;
    text-align: center;
    font-size: 1rem;
}

.imajinate_item .content a:hover {
    text-decoration: none;
}

.memberName {
    position: "absolute";
    margin-top: 10px;
    margin-left: 8px;
    width: "10%";
    height: "auto";
    font-Family: "lucida console"
}

@media only screen and (max-width: 600px) {}

/* Tambahkan kelas CSS baru untuk tampilan mobile */
@media (max-width: 767px) {
    .imajinate_item {
        width: 100% !important;
        /* Mengubah lebar item menjadi 100% saat tampilan mobile */
        max-width: 100%;
    }

    .memberName {
        font-size: 14rem;
        position: absolute;
        margin-top: 1px;
        /* Nilai numerik tanpa tanda kutip */
        margin-left: 4px;
        /* Nilai numerik tanpa tanda kutip */
        width: 100%;
        /* Nilai tanpa tanda kutip *
        height: auto;
        /* Nilai tanpa tanda kutip */
        font-family: "Lucida Console";
        /* Properti font-family dengan huruf kecil */
    }

}

/* Gaya tambahan untuk memastikan penataan yang benar pada tampilan desktop */
@media (min-width: 768px) {
    .imajinate_item {
        width: 33.33%;
        position: relative;
        margin-bottom: 20px;
    }
}

/* Tampilkan hanya di layar >= 768px (tablet ke atas) */
.memberName {
    display: block;
}

/* Sembunyikan di layar kecil (mobile) */
@media (max-width: 767px) {
    .memberName {
        display: none;
    }
}